PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/kslu-circle
JWT_SECRET=kslu_circle_super_secret_key_change_me_in_production
JWT_EXPIRE=7d
COOKIE_EXPIRE=7
CLIENT_URL=http://localhost:5173

# Cloudinary Config (If empty, uploads will default to local folder backend/uploads/)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Mail Config (SMTP/Nodemailer) (If empty, mails will log to console)
SMTP_HOST=
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=noreply@kslucircle.com
FROM_NAME=KSLU Circle
